

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #fbe9e7 40%, #ece9e9 100%);
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  
.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-box input,
.login-box button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-box button {
  background-color: #c62828;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-box button:hover {
  background-color: #b71c1c;
}


.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
